body {
  background-color: grey;
}

h1 {
  color: white;
}

h1:hover {
  transition: color 1s ease;
}

h1::-webkit-input-placeholder {
  color: orange;
}

h1:-ms-input-placeholder {
  color: orange;
}

h1::-ms-input-placeholder {
  color: orange;
}

h1::placeholder {
  color: orange;
}
